* {
  padding: 0;
  margin: 0;
  font-family: cursive;
}
:root {
  --primary-color: #0047bb;
  --points-color: #3c63a4;
}
body{
  background-color: #ecf1f2;
}
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color); 
  /* border-radius: 25px; */
  height: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

/* Navigation Bar */
.navigation {
  display: flex;
  text-align: center;
  justify-content: center;
  /* position: sticky;   */
  top: 0px;
  background-color: white;
  background-color: #ecf1f2;
  z-index: 2;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  /* color: rgb(17, 50, 133); */
  color: var(--primary-color);
  /* padding: 10px; */
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  /* background-color: rgb(29, 66, 158); */
  background-color: var(--primary-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: center;
}

.navigation ul li a {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  /* color: rgb(29, 16, 108); */
  /* color: var(--primary-color); */
  color: black;
  transition: color 0.3s;
  font-size: 1.5rem;
}

.navigation ul li a:hover {
  /* color: rgb(24, 56, 139); */
  color: var(--primary-color);
}

.navigation ul {
  display: flex;
  padding: 60px 10px 10px 10px;
  margin: 10px;
  list-style-type: none;
}

@media only screen and (max-width: 450px) {
  .navigation ul {
    padding: 10px;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .navigation ul li a {
    padding: 0px;
    margin: 5px;
  }
  .about ul{
    /* display: flex; */
    flex-direction: column;
    flex-wrap: wrap;
  }
  .about ul li{
    padding: 12px;
  }
  h3{
    color: var(--points-color);
  }
  .socialmedia{
    width: 140px;
  }
  .about p{
    padding: 0px 40px 40px 23px;
  }
}

/* End Navigation Bar */

/* Home */

.home {
  display: flex;
  /* position: relative; */
  /* text-align: center; */
  height: 500px;
  padding: 125px 100px 0px 100px;
  /* background-color: rgb(159, 255, 198); */
}
.intro-container {
  /* top: 40%; */
  /* left: 12%; */
  /* position: absolute; */
}
.auto-type {
  color: var(--primary-color);
}
.socialmedia {
  /* position: absolute; */
  padding-top: 45px;
  width: 350px;
  text-align: left;
  justify-content: center;
}
.socialmedia p{
  padding-bottom: 140px;
}
.socialmedia a {
  text-decoration: none;
  position: relative;
}
.socialmedia img {
  height: 35px;
}
.socialmedia img:hover + #logoName{
  /* display: inline; */
  /* transform: scaleX(100%); */
  /* transition-delay: all 5s; */
}
.socialmedia span {
  font-size: 1.2rem;
  transform: translateX(-100%);
  transition: transform 5s ease;
  
}
/* .linkedin, .instagram, .whatsapp, .github{
    display: none;
} */
#logoName {
  display: none; 
}
.img-container{
  top: 20%;
  left: 65%;
  position: absolute;
  /* background: black; */
  border-bottom: 7px solid black;
  border-radius: 10px;
}
.img-container p {
  color: white;
}
.img-container img{
  max-width: 100%;
  height: auto;
  
}
@media only screen and (max-width:450px) { 
  .home{
  display: block;
  padding: 90px 10px;
  height: max-content;
  }
  .home .socialmedia p{
    padding-bottom: 25px;
  }
  .img-container{
    position: relative;
    top: 0;
    left: 0;
  }
}
/* End Home */

/* About */
.about{
  padding-top: 25px;
  padding-bottom: 60px;
  /* background-color: rgb(255, 239, 174); */
}
.about h1 {
  padding: 45px;
  margin: 15px;
  padding-left: 25px;
  font-size: 2.8rem;
  color: var(--primary-color);
}

.about p{
  padding: 0px 40px 40px 140px;
  font-size: 1.8rem;
}

.about h3{
  padding-left: 25px; 
  font-size: 2rem;
  color: var(--points-color);
}

.about ul{
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: center;
}
.about li{
  padding-left: 60px;
}

.about img{
  height: 80px;
}

.about .spara{
  display: flex;
  
}
.course{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  font-size: 1.8rem;
}

@media only screen and (max-width:450px) { 
  .about p{
    padding: 0px 40px 40px 23px;
  }
}
/* End About */

/* Qualification */

.education{
  /* background-color: rgb(240, 203, 255); */
  padding-bottom: 100px;
  padding-top: 12px;
}


.educationh1{
    padding: 45px 45px 45px 45px;
    margin: 0px;
    font-size: 2.8rem;
    color: var(--primary-color);
  }
  
  
.education .container{
    /* display: flex;
    display: grid;
    grid-row: 2;
    grid-column: 2; */
    display: grid;
    /* grid-template-columns: auto auto; */
    grid-template-columns: repeat(2,1fr);
    /* text-align: center; */
    /* justify-content: center; */
    /* gap: 200px; */
}
.education .container .cards{
    width: 220px;
    height: 260px;
    border-bottom: 12px solid black;
    /* padding: 80px; */
    /* margin: 80px; */
}
.education .container .cards:hover{
    /* border-bottom: 12px solid rgb(255, 255, 255); */
    background:linear-gradient(rgb(240, 203, 255),rgb(245, 130, 255),rgb(245, 130, 255));
    color: black;
    transform: translateY(-12px);
    transition: all 0.5s;
}

h4{
  display: none;
  font-size: 3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 60px;
}

.education .container a{
    text-decoration: none;
    color: rgb(39, 39, 246);
}

.qualification-about{
  border: 1px solid black;
  border-radius: 12px;
  padding: 20px;
  margin: 20px;
}
.qualification-about h1{
  color: var(--points-color);
}


@media only screen and (max-width: 450px) {
  .education .container{
    padding: 10px;
    display: contents;
  }
  
}

/* end Qualification */

/* Projects */

.projects{
  /* background-color: rgb(159, 210, 255); */
  padding-bottom: 60px;
}
.peojectsh1{
    padding: 45px 45px 45px 45px;
    margin: 0px;
    font-size: 2.8rem;
    color: var(--primary-color);
}
.projects .container{
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 100px;
  padding: 60px 0px 0px 0px;
}
.projects .container .cards{
  padding: 40px 0px 50px 0px;
  width: 220px;
  height: 260px;
  border-bottom: 12px solid black;
  border-radius: 10px;
}
.projects .container .cards:hover{
  background: linear-gradient(rgb(114, 243, 255),rgb(132, 241, 255),rgb(157, 255, 234));
  transform: translateY(-4%);
  transition: all 0.3s;
}

.projects .container .cards a{
  text-decoration: none;
  color: rgb(8, 0, 82);
}
.projects .container .cards img{
  height: 150px;
}
.myprojectportfolioimage{
  border-radius: 136px 73px 137px 84px;
-webkit-border-radius: 136px 73px 137px 84px;
-moz-border-radius: 136px 73px 137px 84px;
border: 1px solid #ff6550;
transition: all 2s;
}
.myprojectportfolioimage:hover{
  border-radius: 72px 138px 84px 137px;
  -webkit-border-radius: 72px 138px 84px 137px;
  -moz-border-radius: 72px 138px 84px 137px;
  border: 1px solid #ff6550;
}
.projects table{
  /* padding: 0px 50px 50px 50px; */
  margin: 50px;
  text-align: center;
}
.projects table, td,th{
  border: 1px solid black;
  border-collapse: collapse;
}

@media only screen and (max-width: 450px) {
  .projects .container{
    padding: 69px;
    display: block;
  }
  
}

/* End Projects */

/* Achievments */

.achivements{
  padding-bottom: 100px;
}

.achivements .container{
  display: flex;
  padding: 20px;
}
.acheivementsh1{
  padding: 45px 45px 45px 45px;
  margin: 0px;
  font-size: 2.8rem;
  color: var(--primary-color);
}
.achivementsdetails1{
  
}
.achivementsdetails h2{
  display: inline;
  color: var(--points-color);
}
.achivementsdetails span{
  padding-left: 50%;
}
@media only screen and (max-width: 450px) {
  .achivements .container{
    display: block;
  }
  .achivements .container img{
    height: 35vh;
    padding: 3%;
  }
  
}

/* End Achievments */

/* Contact */

.contact{
  /* padding: 100px; */
}
.contacth1{
  padding: 45px 45px 45px 45px;
    margin: 0px;
    font-size: 2.8rem;
    color: var(--primary-color);
}
.contact .container{
  display: flex;
  justify-content: center;
  text-align: center;
}
.contact .container .contact-detailes{
  width: 50%;
  /* text-align: left; */
  display: inline-block;
  vertical-align: middle;
  margin: 45px;
}
.contact .container .contact-detailes p{
  height: 2rem;
  text-align: left;
  padding: 30px 30px 30px 80px;
  /* justify-content: center; */
}
.contact .container .contact-detailes p img{
  height: 2rem;
  vertical-align: middle;
}
.contact .container .contact-detailes p a{
  text-decoration: none;
  color: var(--points-color);
}
.contact .container .form-container{
padding: 0px 100px 100px 0px;
width: 50%;
}
.contact .container .form-container form{
  /* width: 70%; */
  /* border: none; */
  background-color: ecf1f2;
  text-align: center;
}
.contact .container .form-container form fieldset{
  /* width: 70%; */
  border: none;
  background-color: transparent;
}
.contact .container .form-container input,textarea{
  width: 32rem;
  padding: 5px 25px 5px 25px ;
  margin: 15px;
  border: none;
  border-radius: 12px;
  font-size: 1.5rem;
  resize: vertical;
}
.contact .container .form-container textarea{
  height: 150px;
}
.contact .container .form-container button{
  border-radius: 12px;
  width: 23rem;
  padding: 5px 25px 5px 25px ;
  margin: 15px;
  border: 1px solid rgb(0, 0, 0);
  font-size: 1.5rem;
  background-color: var(--primary-color);
  color: white;
}
.contact .container .form-container button:hover{
  background-color: #025ff4;
  cursor: pointer;
}
#loading{
  display: none;
}

@media only screen and (max-width: 450px) {
  .contact .container{
    display: block;
  }
  .contact .container .contact-detailes{
    display: block;
    
  }
  .contact .container .contact-detailes p{
    height: auto;
    width: max-content;
    padding: 5px;
  }
  .contact .container .form-container{
    padding: 0px 0px 100px 0px;
    width: 100%;
  }
  .contact .form-container form{
    width: 50vh;
  }
  .contact .container .form-container input,textarea{
    width: 18rem;
  }  
  .contact .container .form-container button{
    width: 18rem;
  }
}
/* End Contact */

/* footer */

footer{
  /* display: flex; */
  background-color: var(--primary-color);
  height: 80px;
  color: white;
}
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

/* End footer */